@import "reset";

body {
  font-family: "Avenir Next", sans-serif;
  font-size: 1.1rem;
}

* {
  box-sizing: border-box;
}

.btn {
  width: 11rem;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 40px auto 0;
}

.form-section {
  padding: 5% 7%;
  background-color: #f3f3f3;
  box-shadow: 0 0 20px 0 #dadada;
}

.form {
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form__item {
  margin: 10px 0 20px;
}

.label-box {
  margin-bottom: 10px;
}

.input {
  outline: none;
  width: 100%;
  height: 2.7rem;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-family: "Avenir Next", sans-serif;
  font-size: 1.1rem;
  color: #797979;
  padding-left: 7px;
  padding-right: 7px;

  &::placeholder {
    font-family: "Avenir Next", sans-serif;
    font-size: 1.1rem;
    color: #d4d4d4;
  }
}

.submit-btn {
  background: #ace4ac;
  color: #008000;

  &:disabled {
    cursor: not-allowed;
    background: #ace4ac36;
    color: #0080003b;
  }
}


//--------------------- List Section -----------------------

.list-section {
  padding: 5% 3%;
}

.list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.list-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.list-header {
  height: 50px;
  color: #f3f3f3;
  background-color: #797979;
  display: flex;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.list-header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  text-align: center;

  &.list-header__nickname {
    width: 20%;
  }

  &.list-header__delete,
  &.list-header__joined {
    width: 10%;
  }
}

.list-item__inner {
  display: flex;
  border: 1px solid #d6d6d6;
  border-top: none;
}

.item {
  width: 30%;
  padding: 15px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &.item__nickname {
    width: 20%;
    border-right: 1px solid #d6d6d6;
  }

  &.item__email, &.item__ip-address,
  &.item__joined {
    border-right: 1px solid #d6d6d6;
  }

  &.item__joined {
    width: 10%;
    font-size: 13px;
    padding: 15px 5px;
  }

  &.item__delete {
    width: 10%;
    line-height: 1;
    text-align: center;
    color: #FF0000;
    padding: 8px 6px;
    justify-content: center;
  }
}

.delete-btn {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: unset;
  padding: unset;
  color: #FF0000;
  font-family: "Avenir Next", sans-serif;
}


.delete-all-btn {
  background: #ffd1d7;
  color: #fd5353;
  margin-top: 60px;
}